/*External Styling*/
#paragraph-three {

	color: blue;
}

/*Universal Selector*/
 {
	font-family: "Tahoma", monospace;
	font-size: 30px;
}

/*Type Selector*/
h1 {

	font-size: 50px;
}

/*ID Selector*/
#uppercase {

	text-transform: uppercase;
}

/*Class Selector*/
.bg-color {

	background-color: lightgreen;
}

/*Attribute Selector*/
li[value="1"] {

	border-width: 2px;
	border-style: solid;
	border-color: darkcyan;

}

li[value="2"] {

	border-width: 2px;
	border-style: solid;
	border-color: darkcyan;

}

li[value="3"] {

	border-width: 2px;
	border-style: solid;
	border-color: darkcyan;

}

li[value="4"] {

	border-width: 2px;
	border-style: solid;
	border-color: darkcyan;


}

/*Adjacent Sibling Selector*/
img + ul {

	list-style-type: none;
}

/*Descendant Selector*/
#descendant img {

	height: 100px;
	width: 100px;
	border-radius: 50px;
}

/*Generic Sibling Selector*/
h4 ~ p {

	text-align: center;
}
/*Child Selector*/
section > ul > li {

	letter-spacing: 25px;
}